@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: lightblue;
}

.chatbot-toggler {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 40px;
  bottom: 35px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}

.chatbot-toggler span {
  position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
  opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot {
  position: fixed;
  overflow: hidden;
  right: 40px;
  bottom: 100px;
  width: 420px;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transform: scale(0.5);
  opacity: 0;
  transform-origin: bottom right;
  pointer-events: none;
  transition: all 0.2s ease;
}

.show-chatbot .chatbot {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.chatbot header {
  background: lightseagreen;
  padding: 16px 0;
  text-align: center;
  position: relative;
}

.chatbot header h2 {
  color: white;
  font-size: 1.4rem;
}

.chatbot header span {
  position: absolute;
  right: 20px;
  top: 50%;
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
  display: none;
}

.chatbot .chatbox {
  height: 510px;
  overflow-y: auto;
  padding: 15px 20px 100px;
}

.chatbox .chat {
  display: flex;
}

.chatbox .incoming span {
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 0 0 0 -5px;
  align-self: center;
}

.chatbox .outgoing {
  justify-content: flex-end;
  margin: 20px 0;
}

.chatbox .chat p {
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  color: black;
  background: lightgray;
  font-size: 0.95rem;
  max-width: 80%;
  white-space: pre-wrap;
}

.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
  border-radius: 10px 10px 10px 0;
  margin-bottom: 10px;
}

.chatbox .chat span {
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 0 0 0 -5px;
  align-self: self-end;
}

.chatbox .incoming p {
  color: black;
  background: lightblue;
  border-radius: 10px 10px 10px 0;
  max-width: 80%;
  white-space: pre-wrap;
}

.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  border-top: 1px solid lightgray;
  background: white;
  padding: 5px 20px;
  height: auto;
}

.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.95rem;
  resize: none;
  padding: 16px 15px 16px 0;
  max-height: 180px;
}

.chat-input span {
  align-self: flex-end;
  height: 55px;
  line-height: 55px;
  color: lightseagreen;
  font-size: 1.7rem;
  cursor: pointer;
  visibility: hidden;
}

.chat-input textarea:valid ~ span {
  visibility: visible;
}

.chatbox .incoming img {
  height: 50px;
  width: 50px;
  text-align: end;
  border-radius: 50%;
  margin: 0 0 0 -5px;
  align-self: center;
}

.chatbox .chat img.error {
  height: 50px;
  width: 50px;
  text-align: end;
  border-radius: 50%;
  margin: 0 0 0 -5px;
  align-self: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1.5s infinite;
}

@media (max-width: 490px) {
  .chatbot {
    right: 0;
    bottom: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }

  .chatbot .chatbox {
    height: 90%;
  }

  .chatbot header span {
    display: block;
  }
}
